<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M_POST_for_EBDS_Demo_In_CSharp_DotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="M_POST_for_EBDS_Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <M_POST_for_EBDS_Demo_In_CSharp_DotNet.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM10</value>
            </setting>
            <setting name="TabEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoreID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StoreName" serializeAs="String">
                <value />
            </setting>
        </M_POST_for_EBDS_Demo_In_CSharp_DotNet.Properties.Settings>
        <M_POST_for_EBDS_Demo.Properties.Settings>
            <setting name="TabEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableTab" serializeAs="String">
                <value>False</value>
            </setting>
        </M_POST_for_EBDS_Demo.Properties.Settings>
    </userSettings>
</configuration>